*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

bin/
gen/
classes/
gen-external-apklibs/
build/
schemas/
xcuserdata/

iOSInjectionProject/